# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
ENV/

# Docker
app/__pycache__/
app/*.pyc
app/.pytest_cache/
app/.env

# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Kubernetes local artifacts
*.yaml.tmp
