# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/

# Environments
.env
.venv/
venv/
ENV/

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# OS files
.DS_Store
Thumbs.db

# Misc
*.log
